@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: url(img/img6.jpg) no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.box {
   width: 500px;
   background: rgba(0,0,0,.4);
   margin: 0 auto;
   margin-top: 4%;
   padding: 20px;
   color: white;
   text-align: center;
   border-radius: 15px;
}

.box-img {
    border-radius: 50%;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box p {
    text-align: justify;
}

.box ul {
    list-style: none;
    margin-top: 20px;
}

.box ul li {
    display: inline-block;
}

.box ul li a {
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    display: block;
    transition: all .5s ease-in-out;
}

.box ul li a:hover {
    color: #b9b9b9;
    transform: scale(1.1);
}

/*Menu*/
.nav {
    width: 300px;
}

.nav__link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover {
    background: #F6F8FA;
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #ffff;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;

}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}